{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "sonarjs",
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "standard",
    "standard-react",
    "plugin:sonarjs/recommended",
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "18"
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "no-use-before-define": "off",
    "no-shadow": "off",
    "react/react-in-jsx-scope": "off",
    "standard/no-callback-literal": "off",
    "no-unused-expressions": "off",
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "max-len": [
      "error",
      {
        "code": 120
      }
    ]
  }
}